env/
app.log
__pycache__/
gunicorn.err.log
gunicorn.log
config_mysql.py
hugo.exe
spectre/
velconnect_backup.sql
discord_bot/graph.png
discord_bot/config.py
env_win/
velconnect.db
velconnect*.db
.idea/
